# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Artifacts
artifacts/

# Logs
logs/

# Models
models/

# DVC cache
.dvc/cache/

# Environment
.env